**/.idea/
**/.gradle/
**/build/
**/gradle/
/dCannonAFKer
banner PSD.psd
*/obf/
**/obf/
ButterBanner.psd
/priv-jars/src_com_butterfoundry
dSunbleakWCer/gradlew
dSunbleakWCer/gradlewe
dSunbleakWCer/gradlew.bat
dSunbleakWCer/settings.gradle
.DS_Store
build.gradle

.claude/
.vscode/

Example Scripts/

#class files
**/*.class

discord_post.md